In [1]:
import numpy as np 
#import pandas as pd 
import modin.pandas as pd

ModuleNotFoundError: No module named 'modin'

In [ ]:
orig_df = pd.read_csv('../../data/data/datastorm_policy_data.csv')

In [19]:
orig_df.head()
print(orig_df.info())
print(orig_df.isnull().sum())

,main_holder_occupation_cd,policy_term,policy_payment_mode,policy_status,commencement_dt,next_due_dt,termination_dt,termination_reason,main_holder_gender,main_holder_dob,...,child5_gender,payment_method,main_holder_occupation,policy_snapshot_as_on,run_date,client_code,agent_code,product_code,product_name,policy_code
0,249.0,20,M,INFORCE,2011/08/21,2019/02/21,NaN,NaN,M,1983/10/01,...,NaN,CASH,NaN,20190131,20200701,C108223,AG108847,HE001,HEALTH,POL28535
1,165.0,15,M,INFORCE,2006/07/14,2019/09/14,NaN,NaN,F,1958/01/01,...,NaN,CASH,BUSINESSMAN,20190901,20200701,C103349,AG103677,RE001,RETIREMENT,POL27771
2,330.0,20,Y,INFORCE,2018/12/28,2019/12/28,NaN,NaN,M,1967/11/01,...,NaN,CASH,RECYCLE RACERS,20191101,20200701,C120388,AG103249,IN001,INVESTMENT,POL29786
3,415.0,15,Q,INFORCE,2018/11/06,2020/02/06,NaN,NaN,M,1989/10/01,...,NaN,CHEQUE,RECEPTIONIST,20191201,20200701,C113155,AG106733,HE001,HEALTH,POL24635
4,165.0,15,M,LAPSED,2012/04/28,2015/06/28,NaN,OTHERS,M,1988/05/01,...,NaN,CASH,BUSINESSMAN,20190228,20200701,C106155,AG106907,HE001,HEALTH,POL7470

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631422 entries, 0 to 631421
Data columns (total 57 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   main_holder_occupation_cd  631355 non-null  float64
 1   policy_term                631422 non-null  int64
 2   policy_payment_mode        631422 non-null  object
 3   policy_status              631422 non-null  object
 4   commencement_dt            631422 non-null  object
 5   next_due_dt                631422 non-null  object
 6   termination_dt             22609 non-null   object
 7   termination_reason         65133 non-null   object
 8   main_holder_gender         631422 non-null  object
 9   main_holder_dob            631422 non-null  object
 10  main_holder_entry_age      631422 non-null  int64
 11  main_holder_smoker_flag    631422 non-null  object
 12  spouse_gender              120206 non-null  object
 13  spouse_dob                 120206 non-null  object
 14  spouse_entry_age           120187 non-null  float64
 15  spouse_smoker_flag         120206 non-null  object
 16  total_sum_assuared         631422 non-null  float64
 17  premium_value              631422 non-null  float64
 18  rider1_prem                631422 non-null  int64
 19  rider1_sum_assuared        631422 non-null  int64
 20  rider2_prem                631422 non-null  float64
 21  rider2_sum_assuared        631422 non-null  int64
 22  rider3_prem                631422 non-null  float64
 23  rider3_sum_assuared        631422 non-null  int64
 24  rider4_prem                631422 non-null  int64
 25  rider4_sum_assuared        631422 non-null  int64
 26  rider5_prem                631422 non-null  int64
 27  rider5_sum_assuared        631422 non-null  int64
 28  rider6_prem                631422 non-null  int64
 29  rider6_sum_assuared        631422 non-null  int64
 30  rider7_prem                631422 non-null  float64
 31  rider7_sum_assuared        631422 non-null  int64
 32  rider8_prem                631422 non-null  float64
 33  rider8_sum_assuared        631422 non-null  int64
 34  rider9_prem                631422 non-null  int64
 35  rider9_sum_assuared        631422 non-null  int64
 36  rider10_prem               631422 non-null  int64
 37  rider10_sum_assuared       631422 non-null  int64
 38  child1_dob                 91297 non-null   object
 39  child1_gender              91297 non-null   object
 40  child2_dob                 45407 non-null   object
 41  child2_gender              45407 non-null   object
 42  child3_dob                 8862 non-null    object
 43  child3_gender              8862 non-null    object
 44  child4_dob                 609 non-null     object
 45  child4_gender              609 non-null     object
 46  child5_dob                 38 non-null      object
 47  child5_gender              38 non-null      object
 48  payment_method             631422 non-null  object
 49  main_holder_occupation     475419 non-null  object
 50  policy_snapshot_as_on      631422 non-null  int64
 51  run_date                   631422 non-null  int64
 52  client_code                631422 non-null  object
 53  agent_code                 631422 non-null  object
 54  product_code               631422 non-null  object
 55  product_name               631422 non-null  object
 56  policy_code                631422 non-null  object
dtypes: float64(8), int64(20), object(29)
memory usage: 274.6+ MB
None
main_holder_occupation_cd        67
policy_term                       0
policy_payment_mode               0
policy_status                     0
commencement_dt                   0
next_due_dt                       0
termination_dt               608813
termination_reason           566289
main_holder_gender                0
main_holder_dob                   0
main_holder_entry_age             0
main_holder_smoker_flag           0
spouse_gender                511216
spouse_dob                   511216
spouse_entry_age             511235
spouse_smoker_flag           511216
total_sum_assuared                0
premium_value                     0
rider1_prem                       0
rider1_sum_assuared               0
rider2_prem                       0
rider2_sum_assuared               0
rider3_prem                       0
rider3_sum_assuared               0
rider4_prem                       0
rider4_sum_assuared               0
rider5_prem                       0
rider5_sum_assuared               0
rider6_prem                       0
rider6_sum_assuared               0
rider7_prem                       0
rider7_sum_assuared               0
rider8_prem                       0
rider8_sum_assuared               0
rider9_prem                       0
rider9_sum_assuared               0
rider10_prem                      0
rider10_sum_assuared              0
child1_dob                   540125
child1_gender                540125
child2_dob                   586015
child2_gender                586015
child3_dob                   622560
child3_gender                622560
child4_dob                   630813
child4_gender                630813
child5_dob                   631384
child5_gender                631384
payment_method                    0
main_holder_occupation       156003
policy_snapshot_as_on             0
run_date                          0
client_code                       0
agent_code                        0
product_code                      0
product_name                      0
policy_code                       0
dtype: int64

In [20]:
print(orig_df.columns)

Index(['main_holder_occupation_cd', 'policy_term', 'policy_payment_mode',
       'policy_status', 'commencement_dt', 'next_due_dt', 'termination_dt',
       'termination_reason', 'main_holder_gender', 'main_holder_dob',
       'main_holder_entry_age', 'main_holder_smoker_flag', 'spouse_gender',
       'spouse_dob', 'spouse_entry_age', 'spouse_smoker_flag',
       'total_sum_assuared', 'premium_value', 'rider1_prem',
       'rider1_sum_assuared', 'rider2_prem', 'rider2_sum_assuared',
       'rider3_prem', 'rider3_sum_assuared', 'rider4_prem',
       'rider4_sum_assuared', 'rider5_prem', 'rider5_sum_assuared',
       'rider6_prem', 'rider6_sum_assuared', 'rider7_prem',
       'rider7_sum_assuared', 'rider8_prem', 'rider8_sum_assuared',
       'rider9_prem', 'rider9_sum_assuared', 'rider10_prem',
       'rider10_sum_assuared', 'child1_dob', 'child1_gender', 'child2_dob',
       'child2_gender', 'child3_dob', 'child3_gender', 'child4_dob',
       'child4_gender', 'child5_dob', 'child5_gender', 'payment_method',
       'main_holder_occupation', 'policy_snapshot_as_on', 'run_date',
       'client_code', 'agent_code', 'product_code', 'product_name',
       'policy_code'],
      dtype='object')

In [21]:
def month_rank(df):
    df['policy_snapshot'] = pd.to_datetime(df['policy_snapshot_as_on'],format='%Y%m%d')
    df['month_rank'] = df['policy_snapshot'].dt.year*12+df['policy_snapshot'].dt.month
    df['month_rank'] = df['month_rank'] - df['month_rank'].min()
    return df

In [22]:
up1_df = month_rank(orig_df)

In [23]:
up1_df.head()

,main_holder_occupation_cd,policy_term,policy_payment_mode,policy_status,commencement_dt,next_due_dt,termination_dt,termination_reason,main_holder_gender,main_holder_dob,...,main_holder_occupation,policy_snapshot_as_on,run_date,client_code,agent_code,product_code,product_name,policy_code,policy_snapshot,month_rank
0,249.0,20,M,INFORCE,2011/08/21,2019/02/21,NaN,NaN,M,1983/10/01,...,NaN,20190131,20200701,C108223,AG108847,HE001,HEALTH,POL28535,2019-01-31,1
1,165.0,15,M,INFORCE,2006/07/14,2019/09/14,NaN,NaN,F,1958/01/01,...,BUSINESSMAN,20190901,20200701,C103349,AG103677,RE001,RETIREMENT,POL27771,2019-09-01,9
2,330.0,20,Y,INFORCE,2018/12/28,2019/12/28,NaN,NaN,M,1967/11/01,...,RECYCLE RACERS,20191101,20200701,C120388,AG103249,IN001,INVESTMENT,POL29786,2019-11-01,11
3,415.0,15,Q,INFORCE,2018/11/06,2020/02/06,NaN,NaN,M,1989/10/01,...,RECEPTIONIST,20191201,20200701,C113155,AG106733,HE001,HEALTH,POL24635,2019-12-01,12
4,165.0,15,M,LAPSED,2012/04/28,2015/06/28,NaN,OTHERS,M,1988/05/01,...,BUSINESSMAN,20190228,20200701,C106155,AG106907,HE001,HEALTH,POL7470,2019-02-28,2

In [26]:
def get_num_of_policies(df):
    n = df["policy_code"].nunique()
    return n

In [27]:
gp_df = orig_df.groupby(by=["month_rank","client_code"]).apply(get_num_of_policies)

In [ ]:
agg1_df = gp_df.agg({
    'num_of_policies' : 
})