In [2]:
import numpy as np 
import pandas as pd 
import pyfpgrowth

In [4]:
data_df = pd.read_csv('../../../data/feature/indexed.csv')

f:\JetBrain Project Files\Pycharm\DataStorm-Final-2021\venv\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (47,48) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data_df.head()

,Unnamed: 0,main_holder_occupation_cd,policy_term,policy_payment_mode,policy_status,commencement_dt,next_due_dt,termination_dt,termination_reason,main_holder_gender,...,main_holder_occupation,policy_snapshot_as_on,run_date,client_code,agent_code,product_code,product_name,policy_code,policy_snapshot,unique
0,79686,226.0,12,M,INFORCE,2018/12/28,2019/01/28,NaN,NaN,M,...,FLOUR & GRAIN MILL W,20181231,20200701,C100000,AG101392,IN001,INVESTMENT,POL29331,2018-12-31,20181231 C100000
1,375697,175.0,20,M,INFORCE,2018/12/29,2019/01/29,NaN,NaN,M,...,CHENA CULTIVATOR,20181231,20200701,C100001,AG106517,HE001,HEALTH,POL7504,2018-12-31,20181231 C100001
2,592003,226.0,15,Y,INFORCE,2018/12/28,2019/12/28,NaN,NaN,M,...,FLOUR & GRAIN MILL W,20181231,20200701,C100002,AG106079,HE001,HEALTH,POL4435,2018-12-31,20181231 C100002
3,123460,450.0,12,H,INFORCE,2018/12/31,2019/06/30,NaN,NaN,F,...,MINISTER,20181231,20200701,C100003,AG105289,IN001,INVESTMENT,POL3879,2018-12-31,20181231 C100003
4,170518,450.0,12,Y,INFORCE,2018/12/28,2019/12/28,NaN,NaN,F,...,MINISTER,20181231,20200701,C100004,AG100675,IN001,INVESTMENT,POL6707,2018-12-31,20181231 C100004

In [11]:
srt_df = data_df.sort_values(by=["policy_snapshot"]).loc[:, ["client_code", "product_code"]]
srt_df.head()

      client_code product_code
0         C100000        IN001
17749     C115363        HE001
17748     C115360        IN001
17747     C115359        HE001
17746     C115358        HE001

In [12]:
grp_df = srt_df.groupby("client_code")["product_code"].apply(list).reset_index()
grp_df.head()

  client_code                                       product_code
0     C100000  [IN001, IN001, IN001, IN001, IN001, IN001, IN0...
1     C100001  [HE001, HE001, HE001, HE001, HE001, HE001, HE0...
2     C100002  [HE001, HE001, HE001, HE001, HE001, HE001, HE0...
3     C100003  [IN001, IN001, IN001, IN001, IN001, IN001, IN0...
4     C100004  [IN001, IN001, IN001, IN001, IN001, IN001, IN0...

In [28]:
patterns = pyfpgrowth. find_frequent_patterns(grp_df, 2)

In [29]:
patterns

{('e', 't'): 3,
 ('c', 'e', 't'): 6,
 ('d', 't'): 3,
 ('d', 'e', 't'): 3,
 ('c', 'd', 't'): 6,
 ('c', 'd', 'e', 't'): 3,
 ('e', 'o', 't'): 3,
 ('d', 'e', 'o', 't'): 4,
 ('c', 'e', 'o', 't'): 6,
 ('c', 'd', 'e', 'o', 't'): 4,
 ('d', 'o', 't'): 4,
 ('c', 'd', 'o', 't'): 8,
 ('c', 'o', 't'): 6,
 ('c', 'c', 'o', 't'): 3,
 ('c', 't'): 4,
 ('c', 'c', 't'): 2,
 ('_', 'e', 't'): 3,
 ('_', 'c', 'e', 't'): 6,
 ('_', 'd', 'e', 't'): 3,
 ('_', 'e', 'o', 't'): 3,
 ('_', 'c', 'd', 'e', 't'): 3,
 ('_', 'c', 'e', 'o', 't'): 3,
 ('_', 'd', 'e', 'o', 't'): 3,
 ('_', 'c', 'd', 'e', 'o', 't'): 3,
 ('_', 'o', 't'): 3,
 ('_', 'c', 'o', 't'): 6,
 ('_', 'd', 't'): 3,
 ('_', 'd', 'o', 't'): 4,
 ('_', 'c', 'd', 't'): 6,
 ('_', 'c', 'd', 'o', 't'): 4,
 ('_', 'c', 't'): 4,
 ('_', 'c', 'c', 't'): 2,
 ('_', 'e'): 3,
 ('_', 'c', 'e'): 6,
 ('_', 'd'): 3,
 ('_', 'd', 'e'): 3,
 ('_', 'c', 'd'): 6,
 ('_', 'c', 'd', 'e'): 3,
 ('_', 'e', 'o'): 3,
 ('_', 'd', 'e', 'o'): 4,
 ('_', 'c', 'e', 'o'): 6,
 ('_', 'c', 'd', 'e', 'o'): 4,
 ('_', 'd', 'o'): 4,
 ('_', 'c', 'd', 'o'): 8,
 ('_', 'c', 'o'): 6,
 ('_', 'c', 'c', 'o'): 3,
 ('_', 'c'): 4,
 ('_', 'c', 'c'): 2,
 ('e',): 3,
 ('c', 'e'): 6,
 ('d', 'e'): 3,
 ('e', 'o'): 3,
 ('c', 'd', 'e'): 3,
 ('c', 'e', 'o'): 3,
 ('d', 'e', 'o'): 3,
 ('c', 'd', 'e', 'o'): 3,
 ('o',): 3,
 ('c', 'o'): 6,
 ('d',): 3,
 ('d', 'o'): 4,
 ('c', 'd'): 6,
 ('c', 'd', 'o'): 4,
 ('c',): 4,
 ('c', 'c'): 2}

In [30]:
rules = pyfpgrowth. generate_association_rules(patterns,0.8)

In [31]:
rules

{('e',): (('c', 'd', 'o'), 1.0),
 ('c',): (('d', 'o'), 1.0),
 ('c', 'e'): (('_', 'o'), 1.0),
 ('c', 't'): (('_',), 1.0),
 ('e', 't'): (('_', 'c', 'd', 'o'), 1.0),
 ('d',): (('c', 'o'), 1.3333333333333333),
 ('d', 'e'): (('c', 'o'), 1.0),
 ('d', 't'): (('_', 'c', 'o'), 1.3333333333333333),
 ('c', 'd'): (('_', 'o'), 1.3333333333333333),
 ('c', 'd', 'e'): (('o',), 1.0),
 ('d', 'e', 't'): (('_', 'c', 'o'), 1.0),
 ('o',): (('c', 'd'), 1.3333333333333333),
 ('e', 'o'): (('c', 'd'), 1.0),
 ('d', 'o'): (('c',), 1.0),
 ('d', 'e', 'o'): (('c',), 1.0),
 ('d', 'o', 't'): (('_', 'c'), 1.0),
 ('e', 'o', 't'): (('_', 'c', 'd'), 1.0),
 ('c', 'o'): (('_',), 1.0),
 ('c', 'e', 'o'): (('d',), 1.0),
 ('c', 'e', 't'): (('_',), 1.0),
 ('c', 'o', 't'): (('_',), 1.0),
 ('c', 'd', 'o'): (('_',), 2.0),
 ('c', 'd', 'e', 'o'): (('_',), 1.3333333333333333),
 ('c', 'd', 'e', 't'): (('_', 'o'), 1.0),
 ('d', 'e', 'o', 't'): (('c',), 1.0),
 ('c', 'd', 't'): (('_',), 1.0),
 ('c', 'c'): (('_',), 1.0),
 ('c', 'c', 't'): (('_',), 1.0),
 ('_', 'e'): (('c', 'd', 'o'), 1.3333333333333333),
 ('_', 'c'): (('o',), 1.5),
 ('_', 'c', 'e'): (('o',), 1.0),
 ('_', 'c', 't'): (('d', 'o'), 1.0),
 ('_', 'e', 't'): (('c', 'd', 'o'), 1.0),
 ('_', 'd'): (('c', 'o'), 2.6666666666666665),
 ('_', 'd', 'e'): (('c', 'o'), 1.3333333333333333),
 ('_', 'd', 't'): (('c', 'o'), 1.3333333333333333),
 ('_', 'e', 'o'): (('c', 'd'), 1.3333333333333333),
 ('_', 'o', 't'): (('c', 'd'), 1.3333333333333333),
 ('_', 'c', 'd', 'e'): (('o',), 1.3333333333333333),
 ('_', 'd', 'e', 't'): (('c', 'o'), 1.0),
 ('_', 'e', 'o', 't'): (('c', 'd'), 1.0),
 ('_', 'c', 'd', 'e', 't'): (('o',), 1.0),
 ('_', 'c', 'e', 'o', 't'): (('d',), 1.0),
 ('_', 'd', 'e', 'o', 't'): (('c',), 1.0),
 ('_', 'c', 'o'): (('d',), 1.3333333333333333),
 ('_', 'd', 'o'): (('c',), 2.0),
 ('_', 'c', 'd'): (('o',), 1.3333333333333333),
 ('_', 'd', 'o', 't'): (('c',), 1.0),
 ('_', 'c', 'c'): (('o',), 1.5),
 ('_', 'd', 'e', 'o'): (('c',), 1.0)}